<% include ../partials/common/header %>
<% include ../partials/common/display-header %>
<div id="main" class="container-fluid" min-height="2050px">
    <div class="row justify-content-md-center">
        <div class="col">
            <h1>Yay!</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <h3><%= message %></h3>
        </div>
    </div>
</div>

<% include ../partials/common/footer %>